.left_column {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: #6379f4;
}

.left_column_menu_text {
  color: #6379f4;
  text-decoration: none;
}

.left_column_menu_text:hover {
  text-decoration: none;
  color: #6379f4;
}

.right_column {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.right_column_1 {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.right_column_text_1 {
  width: 400px;
  line-height: 2em;
  word-spacing: 8px;
}

.right_small_column_1 {
  width: 300px;
  height: 300px;
}

.right_column_input_1 {
  border: 1px solid white;
  border-color: white;
  color: #6379f4;
  font-size: 24px;
}

.right_column_button_1 {
  border-color: #6379f4;
  background-color: #6379f4;
  color: white;
  width: 150px;
}

.right_column_button_1:hover {
  border-color: #6379f4;
  background-color: white;
  color: #6379f4;
  width: 150px;
}

.right_column_link_1 {
  background-color: gray;
  width: 300px;
  height: 50px;
}

.right_column_link_2 {
  text-decoration: none;
  color: black;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.right_column_link_2:hover {
  text-decoration: none;
  color: black;
}

.form_size {
  width: 300px;
}

.right_column_button_2 {
  border-color: #6379f4;
  background-color: #6379f4;
  color: white;
  width: 300px;
}

.right_column_button_2:hover {
  border-color: #6379f4;
  background-color: white;
  color: #6379f4;
  width: 300px;
}
