.left_column {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: #6379f4;
}

.left_column_menu_text {
  color: #6379f4;
  text-decoration: none;
}

.left_column_menu_text:hover {
  text-decoration: none;
  color: #6379f4;
}

.right_column_1 {
  background-color: #6379f4;
  border: 1px solid #6379f4;
  border-radius: 10px;
  color: white;
  width: 650px;
}

.right_button_column_1 {
  border-color: white;
  color: white;
  background-color: #6379f4;
  width: 100px;
}

.right_button_column_1:hover {
  border-color: #6379f4;
  color: #6379f4;
  background-color: white;
  width: 100px;
}

.right_column_2 {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.right_column_2_text_1 {
  font-size: 14px;
}

.right_column_2_text_2 {
  color: #6379f4;
  text-decoration: none;
  font-size: 14px;
}

.right_column_2_text_3 {
  font-size: 13px;
}

.right_column_3 {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.profile_picture_size {
  width: 30px;
  height: 30px;
}
