.left_column {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: #6379f4;
}

.left_column_menu_text {
  color: #6379f4;
  text-decoration: none;
}

.left_column_menu_text:hover {
  text-decoration: none;
  color: #6379f4;
}

.right_column {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.right_column_1 {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.sort_search_receiver {
  border-color: lightgray !important;
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.pagination > .active > a {
  background-color: #6379f4;
  border-color: #6379f4;
  border-radius: 6px;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #6379f4;
  border-radius: 6px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #6379f4;
  border-color: #6379f4;
  border-radius: 6px;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #6379f4;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 6px;
}
